.head{
    width: 1250px;
    height: 90px;
    background-color: rgb(116, 12, 12);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.name{
    /* text-align: center; */
    margin-left: 545px;
    font-weight: 700;
    color:rgb(233, 57, 107);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    bottom: 100px;
}
.ivent{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(233, 57, 107);
    float: left;
    margin-top: -40px;
    margin-left: 50px;
}
.gfnbkx{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(233, 57, 107);
    float: left;
    margin-top: -40px;
    margin-left: 250px;
}
.onas{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(42, 4, 15);
    float: right;
    margin-top: -40px;
    margin-right: 50px;
}
.zizn{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(233, 57, 107);
    float: right;
    margin-top: -40px;
    margin-right: 270px;
}
.master{
    float: left;
    margin-left: 950px;
    margin-top: 50px;
   
}
.klan{
    float: left;
    margin-top: -100px;
    margin-left: 70px;
}
.bzp{
    float: right;
    margin-right: 70px;
    margin-top: 180px;
   
}
.bzp2{
    float: left;
    margin-top: 20px;
    margin-left: 70px;
}
.sborkx{
    float: left;
    margin-left: 490px;
    margin-top: 20px;
}
.osnova{
    margin-right: auto;
    margin-left: -40px;
    font-weight: 700;
    color:rgb(249, 225, 209);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    padding: 300px;
}
.cdtn1{
    color:rgb(249, 225, 209);
    float: left;
    margin-left: 80px;
    margin-top: -270px;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;   
}
.pati1{
    color:rgb(249, 225, 209);
    float: left;
    margin-left: 50px;
    margin-top: -240px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
}
.cdtn2{
    color:rgb(249, 225, 209);
    float: left;
    margin-left: 80px;
    margin-top: -270px;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;   
}
.pati2{
    color:rgb(249, 225, 209);
    float: left;
    margin-left: 50px;
    margin-top: -240px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
}
.cdtn3{
    color:rgb(249, 225, 209);
    float: left;
    margin-left: 80px;
    margin-top: -270px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;   
    font-style: italic;
}
.pati3{
    color:rgb(249, 225, 209);
    float: left;
    margin-left: 50px;
    margin-top: -240px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
}
.cdtn4{
    color:rgb(249, 225, 209);
    float: left;
    margin-left: 80px;
    margin-top: -270px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;  
    font-style: italic;
}
.pati4{
    color:rgb(249, 225, 209);
    float: left;
    margin-left: 50px;
    margin-top: -240px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
}
.cdtn5{
    color:rgb(249, 225, 209);
    float: left;
    margin-left: 80px;
    margin-top: -50px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;   
    font-style: italic;
}
.pati5{
    color:rgb(249, 225, 209);
    float: left;
    margin-left: 50px;
    margin-top: -20px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
}
.cdtn6{
    color:rgb(249, 225, 209);
    float: left;
    margin-left: 100px;
    margin-top: -50px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;   
    font-style: italic;
}
.pati6{
    color:rgb(249, 225, 209);
    float: left;
    margin-left: 90px;
    margin-top: -20px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
}
.reserv{
    font-weight: 700;
    color:rgb(249, 225, 209);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    padding: 70px;
    margin-left: -40px;
}
.textbzp{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    bottom: -100px;
    left:100px;
}
.textbzp1{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    bottom: -160px;
    left:10px;
}
.textbzp2{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
   
    float: left;
    position: relative;
    bottom: -170px;
    left:190px;
}
.textbzp3{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;

    float: left;
    position: relative;
    bottom: -185px;
    left:160px;
}
.textbzp4{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
   
    float: left;
    position: relative;
    bottom: -185px;
    left:130px;
}
.textbzp5{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
   
    float: left;
    position: relative;
    bottom: -185px;
    left:80px;
}
.textbzp6{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
   
    float: left;
    position: relative;
    bottom: -185px;
    left:130px;
}
.photka1{
    float: left;
    margin-top: 90px;
    margin-left: 170px;
}
.photka2{
    float: left;
    margin-top: 90px;
    margin-left: 90px;
}
.photka3{
    float: left;
    margin-top: 90px;
    margin-left: 90px;
}
.photka4{
    float: left;
    margin-top: 350px;
    margin-left: -1080px;
}
.photka5{
    float: left;
    margin-top: 350px;
    margin-left: -690px;
}
.photka6{
    float: left;
    margin-top: 95px;
    margin-left: 90px;
}
.photka7{
    float: left;
    margin-top: 90px;
    margin-left: 170px;
}
.photka8{
    float: left;
    margin-top: 90px;
    margin-left: 90px;
}
.photka9{
    float: left;
    margin-top: 90px;
    margin-left: 90px;
}
.photka10{
    float: left;
    margin-top: 90px;
    margin-left: 170px;
}
.photka11{
    float: left;
    margin-top: 90px;
    margin-left: 90px;
}
.photka12{
    float: left;
    margin-top: 90px;
    margin-left: 90px;
}
.text1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    float: left;
    margin-left: -220px;
    margin-top: -450px;
}
.text2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    float: left;
    margin-left: -480px;
    margin-top: -150px;
}
.text3{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    float: left;
    margin-left: 680px;
    margin-top: -140px;
}
.textbzp11{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    bottom: 500px;
    left: -200px;
}
.textbzp12{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    bottom: 470px;
    left: -290px;
}
.textbzp13{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    bottom: 350px;
    left: 30px;
}
.textbzp14{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    bottom: 320px;
    left: -390px;
}
.textbzp15{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    bottom: 280px;
    left: 635px;
}
.textbzp16{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    bottom: 240px;
    left: 270px;
}
.textbzp17{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    bottom: 200px;
    left: -190px;
}
.textbzp18{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    bottom: 190px;
    left: 512px;
}
.textbzp19{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    bottom: 150px;
    left: 140px;
}
.textbzp21{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(249, 225, 209);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    bottom: 110px;
    left: -150px;
}
.priem{
    float: left;
    margin-top: 30px;
    margin-left: 1050px;
}
.priem2{
    float: left;
    margin-top: -400px;
    margin-left: 60px;   
}
